{% extends 'back/base.html.twig' %}

{% block title %}New User{% endblock %}

{% block subBody %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('back/user/_form.html.twig') }}

    <a class="btn btn-sm btn-secondary" href="{{ path('app_back_user_index') }}">back to list</a>
{% endblock %}
