{% extends 'base.html.twig' %}

{% block body %}

    <div class="mb-5">
        <h1 class="text-center">Oops erreur : {{status_code}}</h1>
        <img class="d-block mx-auto mb-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYIUw0TVHnD2KxZJHdS4A2k9CF9XHpgbbofQ&usqp=CAU" alt="josephine is dead">
        <a href="{{ path('app_home') }}">Retourne t'amuser sur la page d'accueil</a>
    </div>    
{% endblock %}